body {
    max-width: 800px;
    margin: 10px auto !important;
}

header, section {
    text-align: center;
}

section label {
    font-size: 16px;
}

section input {
    margin: 0 12px;
}

section button:hover {
    cursor: pointer;
}

.result #chart {
    margin: 25px 0;
}

.result .error {
    font-size: 20px;
    color: red;
}